/**
 * CKEditor Read more styles.
 */

.ckeditor-readmore-wrapper .ckeditor-readmore {
  display: none;
  /*transition: height 350ms ease-in-out;*/
}

.ck-editor__editable .ckeditor-readmore-wrapper .ckeditor-readmore {
  display: block;
  padding: 1em;
  border: 1px solid #0091ea;
}
